.c{
    display: flex;
    position:absolute;
    top:10px;
    left: 0px;
    flex-direction: column;
    padding: 0;
    justify-content:flex-start;
  }

  .av{
      display: flex;
      bottom: 100px;
      margin: 50px; 
  }
  .prof{
      display: flex;
      margin: 50px;
  }
  .backg{
      background-color: rgb(100, 214, 214)
  }

  .bt{
    background-color: #e7e7e7;
    position:absolute;
    left: 100px;
    bottom: -205px;
    border: none;
    color: black;
    padding: 7px 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  .bt2{
    background-color: #ffdab9    ;
    position:absolute;
    right: 30px;
    top: 75px;
    border: none;
    color: black;
    padding: 10px 13px;
    width: 150px;
    height: 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    font-size: 12px;    
  }

.item{
    border-top: 1px solid rgb(112, 110, 110);
}
  .inf{
    font-size: large;
    position:relative;
    bottom: -200px;
    background-color:rgb(211, 205, 205);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    list-style-type: none;
    border-radius: 5%;
  }
  .welcome{
      font-size: 20px;
      position: absolute;
      top: 1;
      left: 500px;
     
  }