.exerciseBody {
    border-radius: 25px;
    background: #468da3;
    color: white;
    margin: 5px 0px 5px 0px;
    width: 250px;
}

.exerciseStats {
    display: inline;
    padding: 5px;
}

#updateTitle {
    z-index: 1000;
    width: 500px;
}

#updateDesc {
    height: 250px;
}
