.exerciseBody {
    border-radius: 25px;
    background: white;
    color: #2C4457;
    margin: 5px 0px 5px 0px;
    width: 250px;
}

.exerciseBody:hover{
    background: #99CAF7;
}

.exerciseStats {
    display: inline;
    padding: 5px;
}


#updateTitle {
    z-index: 1000;
    width: 500px;
}

#updateDesc {
    height: 250px;
}

#deleteExercise {
    background: none;
    border: none;
    position: relative;
}

#delExx{
    border-radius: 100%;
}

#delExx:hover{
    background: #F06362;
}

#exxBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}