.workoutBody {
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 2px;
    margin-right: 10px;
    width: 250px;
    height: auto;
}

.modal-dialog{
  color: black;
}

.buttonss{
  position:relative;
  margin-top: auto
}

.card-body{
  display: flex;
  flex-direction: column;
}
.card-footer{
  display: flex;
  flex-direction: column;
}


#workoutHead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.workoutName {
  font-size: 28px;
  font-weight: bold;
}

#delete {
  position: relative;
}

#exerciseList {
  margin-top: -40px;
}

#addExerciseButton {
  margin-top: 50px;
  position: relative;
  bottom: 50px;
  left: 125px;
}

