.workoutBody {
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 2px;
    margin-right: 10px;
    width: 250px;
    height: auto;
}

<<<<<<< HEAD

#workoutHead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
=======
.workoutList {
    flex: 1;
>>>>>>> 8aaf271750566e423077b4f5243412b6b56e9173
}

.workoutName {
  font-size: 28px;
  font-weight: bold;
}