<<<<<<< HEAD
.workoutList .workouts {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: auto;
=======
.workoutList {
  border: none;
  border-radius: 25px;
  padding: 20px;
  color: black;
}

.workoutList .workouts {
  padding: 15px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
>>>>>>> 76feff88ed0ec67c93d2e7d5a274059765dc1231
}
